.Header {
  display: flex;
  padding: 20px;
  position: fixed;
  top: auto;
  position: relative; }
  .Header .headericon img {
    height: 30px;
    width: auto; }
  .Header .headerlogin {
    border: 1px solid orange;
    text-align: center;
    width: 100px;
    height: 25px;
    padding-top: 5px;
    border-radius: 10px;
    transition: 1s;
    position: absolute;
    right: 100px; }
    .Header .headerlogin:hover {
      background-color: yellow; }

.herowrapper {
  background-image: url("https://res.cloudinary.com/dpy0mkwsp/image/upload/v1545326564/images/burger-istock.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  .herowrapper .herohead {
    font-size: 35px;
    color: lightgrey;
    padding-top: 18%; }
  .herowrapper .herosearch {
    padding: 1% 0% 0% 25%;
    display: flex; }
    .herowrapper .herosearch input {
      width: 50%;
      height: 40px;
      outline-style: none; }
      .herowrapper .herosearch input::placeholder {
        padding-left: 10px; }
    .herowrapper .herosearch .herobutton {
      background-color: #ad7d24;
      padding-top: 15px;
      color: white;
      width: 20%;
      height: 31px;
      transition: 1s; }
      .herowrapper .herosearch .herobutton:hover {
        background-color: orange; }

.cravingwrapper {
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid grey; }
  .cravingwrapper .cravinghead {
    padding-top: 5%;
    font-size: 30px;
    color: grey; }
  .cravingwrapper .cravingboxes {
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-wrap: wrap; }
    .cravingwrapper .cravingboxes .cravingbox {
      margin-right: 7.9%;
      padding-top: 10px; }
      .cravingwrapper .cravingboxes .cravingbox .cravingimg {
        height: 20px;
        width: 20px; }
      .cravingwrapper .cravingboxes .cravingbox .cravingitem {
        padding-top: 90px; }

.specialdeal .specialhead {
  padding: 2% 0 0 18px;
  color: grey; }

.specialdeal .specialboxes {
  display: flex;
  flex-wrap: wrap;
  padding-left: 18px;
  margin: 0; }
  .specialdeal .specialboxes .specialbox {
    margin: 2% 5.2% 0 0; }
    .specialdeal .specialboxes .specialbox .specialimg {
      height: 150px;
      width: 250px;
      background-image: url("https://res.cloudinary.com/dpy0mkwsp/image/upload/v1545649415/images/Super7_Web_Feature_Listing__1_-min_251118033425.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform 1s; }
      .specialdeal .specialboxes .specialbox .specialimg:hover {
        transform: scale(0.95); }
  .specialdeal .specialboxes .specialitem {
    padding-left: 6%; }
